# (공부) 파이썬 객체 소개_pandas
> 작성완료

- toc:true
- branch: master
- badges: true
- comments: true
- author: kimha02
- categories: [Python]

### (1) `dict`의 복습

`dict`를 선언하는 방법:

In [12]:
dict({'a':[1,2,3],
      'b':[2,3,4],
      'c':[3,4,5]})

{'a': [1, 2, 3], 'b': [2, 3, 4], 'c': [3, 4, 5]}

Q : `dict`는 왜 `key:value`의 집합으로 선언해야 하는가?

A : `dict`는 검색에 최적화되어있다. `key`로 접근하면 일일이 위치를 기억하지 않아도 원하는 정보를 얻을 수 있다.

(예제)

In [1]:
d={'새로이':[30,600,4.0],
   "이서":[20,950,4.2],
   "일권":[28,950,2.3],
   "현이":[28,650,3.8]}

In [15]:
d['이서']

[20, 950, 4.2]

"이서"로 검색을 하면 나이, 토익, 학점이 나온다.

편하다.

### (2) 논쟁1

`까칠이`: list로 해도 충분히 가능하지 않나?

In [17]:
l=[['새로이',30,600,4.0],
   ["이서",20,950,4.2],
   ["일권",28,950,2.3],
   ["현이",28,650,3.8]]

In [19]:
l[1]

['이서', 20, 950, 4.2]

`교과서`: `list`는 "이서"의 위치를 알고 있어야 한다. `dict`는 "이서"의 위치를 몰라도, "이서"라는 키워드만 알면 정보를 얻을 수 있다.

`까칠이(넘파이,불인덱싱마스터)`: 아래처럼 하면 되는것 아닌가?

In [20]:
import numpy as np

In [22]:
l1=np.array(l)

In [26]:
l1

array([['새로이', '30', '600', '4.0'],
       ['이서', '20', '950', '4.2'],
       ['일권', '28', '950', '2.3'],
       ['현이', '28', '650', '3.8']], dtype='<U3')

In [25]:
l1.T

array([['새로이', '이서', '일권', '현이'],
       ['30', '20', '28', '28'],
       ['600', '950', '950', '650'],
       ['4.0', '4.2', '2.3', '3.8']], dtype='<U3')

In [29]:
l1.T[0]

array(['새로이', '이서', '일권', '현이'], dtype='<U3')

In [30]:
l1.T[0]=='이서'

array([False,  True, False, False])

In [31]:
l1[l1.T[0]=='이서']

array([['이서', '20', '950', '4.2']], dtype='<U3')

`교과서`: 복잡하다.. `dict`는 이름만 알면 쉽게 정보검색 가능.

`까칠이`: 나이가 28인 사람이 누군지 모두 알고 싶을 경우는? `dict`로 어떻게 하는지?

`교과서`: ...

`까칠이(넘파이,불인덱싱마스터)`: 나는 할수 있다.

In [33]:
l1.T

array([['새로이', '이서', '일권', '현이'],
       ['30', '20', '28', '28'],
       ['600', '950', '950', '650'],
       ['4.0', '4.2', '2.3', '3.8']], dtype='<U3')

In [34]:
l1.T[1]

array(['30', '20', '28', '28'], dtype='<U3')

In [35]:
l1.T[1]=='28'

array([False, False,  True,  True])

In [37]:
l1[l1.T[1]=='28']

array([['일권', '28', '950', '2.3'],
       ['현이', '28', '650', '3.8']], dtype='<U3')

`교과서`: ...

`까칠이`: key를 사용하는 것이 왜 정보검색에 유리한것인지?

### (3) 논쟁2

사실 논쟁1에서 까칠이가 언급한 내용은 `list`의 장점이라기 보다 `list`와 호환성이 좋은 `numpy`의 장점이다.

`dict`도 `dict`와 호환성이 좋은 새로운 자료형이 있는데, 그것이 바로 `pandas`이다.

근본적인 차이: `list`는 번호로, `dict`는 keyword로 접근한다.

- 인덱싱, 슬라이싱  vs 맵핑

***note:*** 리스트는 키워드로 정보검색이 불가능하다.

***note:*** 딕셔너리는 인덱스로 정보검색이 불가능하다.

### (4) `pandas`

In [19]:
import pandas as pd

In [20]:
d

{'새로이': [30, 600, 4.0],
 '이서': [20, 950, 4.2],
 '일권': [28, 950, 2.3],
 '현이': [28, 650, 3.8]}

In [21]:
pd.DataFrame(d) ## 판다스자료형 = 데이터프레임을 선언하는 방법

     새로이     이서     일권     현이
0   30.0   20.0   28.0   28.0
1  600.0  950.0  950.0  650.0
2    4.0    4.2    2.3    3.8

In [22]:
df=pd.DataFrame(d).T

In [45]:
df

        0      1    2
새로이  30.0  600.0  4.0
이서   20.0  950.0  4.2
일권   28.0  950.0  2.3
현이   28.0  650.0  3.8

***note:*** 이서의 정보를 알고 싶다면? (딕셔너리 느낌)

In [23]:
df.loc['이서']

0     20.0
1    950.0
2      4.2
Name: 이서, dtype: float64

***note:*** 칼럼이름을 정하고 싶다면?

In [24]:
df.columns=['age','toeic','gpa']

In [25]:
df

      age  toeic  gpa
새로이  30.0  600.0  4.0
이서   20.0  950.0  4.2
일권   28.0  950.0  2.3
현이   28.0  650.0  3.8

***note:*** 2번째 칼럼을 불러오자! (넘파이느낌)

In [57]:
df.iloc[:,1]

새로이    600.0
이서     950.0
일권     950.0
현이     650.0
Name: toeic, dtype: float64

***note:*** 2-3번째 칼럼을 불러오자! (넘파이느낌)

In [58]:
df.iloc[:,1:3]

     toeic  gpa
새로이  600.0  4.0
이서   950.0  4.2
일권   950.0  2.3
현이   650.0  3.8

***note:*** 토익점수를 불러오고 싶다면?

In [59]:
df.loc[:,'toeic']

새로이    600.0
이서     950.0
일권     950.0
현이     650.0
Name: toeic, dtype: float64

***note:*** age~toeic까지의 정보를 얻고 싶다면?

In [64]:
df.loc[:,'age':'toeic']

      age  toeic
새로이  30.0  600.0
이서   20.0  950.0
일권   28.0  950.0
현이   28.0  650.0

***note:*** 새로이~일권까지의 정보를 얻고 싶다면?

In [65]:
df.loc['새로이':'일권',:]

      age  toeic  gpa
새로이  30.0  600.0  4.0
이서   20.0  950.0  4.2
일권   28.0  950.0  2.3

***note:*** 토익점수가 800보다 높은사람을 부르고 싶다면?

In [68]:
df

      age  toeic  gpa
새로이  30.0  600.0  4.0
이서   20.0  950.0  4.2
일권   28.0  950.0  2.3
현이   28.0  650.0  3.8

In [26]:
df.query('toeic>800')

     age  toeic  gpa
이서  20.0  950.0  4.2
일권  28.0  950.0  2.3

***note:*** 나이가 23보다 큰 사람을 부르고 싶다면?

In [70]:
df.query('age>23')

      age  toeic  gpa
새로이  30.0  600.0  4.0
일권   28.0  950.0  2.3
현이   28.0  650.0  3.8

***note:*** 나이가 23보다 많고 토익점수가 800보다 높은 사람을 부르고 싶다면?

In [71]:
df.query('age>23 & toeic>800')

     age  toeic  gpa
일권  28.0  950.0  2.3