# (Í≥µÎ∂Ä) Îç∞Ïù¥ÌÑ∞Î∂ÑÏÑù ÏΩîÎî©ÌÖåÏä§Ìä∏ Ïó∞Ïäµ
> kaggle_python
- toc:true
- branch: master
- badges: true
- comments: true
- author: ÍπÄÌïòÏòÅ
- categories: [Study]

---

https://didu-story.tistory.com/m/43?category=937100 ÏùÑ Ï∞∏Í≥†ÌïòÏó¨ Í≥µÎ∂Ä  

data : www.kaggle.com/c/bike-sharing-demand/

**üí°ÌäπÏ†ï ÏãúÍ∞ÑÎåÄÏóê ÏñºÎßàÎÇò ÎßéÏùÄ ÏÇ¨ÎûåÎì§Ïù¥ ÏûêÏ†ÑÍ±∞Î•º ÎåÄÏó¨ÌïòÎäîÏßÄ ÏòàÏ∏°Ìï¥Î≥¥Ïûê**

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt
import scipy

In [41]:
train=pd.read_csv('train.csv')  #ÌïôÏäµÎç∞Ïù¥ÌÑ∞
test=pd.read_csv('test.csv')  #ÌÖåÏä§Ìä∏Îç∞Ïù¥ÌÑ∞
sample=pd.read_csv('sampleSubmission.csv')  #Ï†úÏ∂úÌòïÏãù

#### Îç∞Ïù¥ÌÑ∞ ÌòïÌÉú ÌôïÏù∏

In [45]:
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [46]:
test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

- train dataÏóêÎßå casual, registered, count Î≥ÄÏàòÍ∞Ä ÏûàÏùå $\to$ Ïö∞Î¶¨Í∞Ä ÏòàÏ∏°Ìï¥ÏïºÌïòÎäî Í≤ÉÏùÄ ÎåÄÏó¨Îüâ!
- casual : ÎπÑÌöåÏõêÏùò ÏûêÏ†ÑÍ±∞ ÎåÄÏó¨Îüâ
- registered : ÌöåÏõêÏùò ÏûêÏ†ÑÍ±∞ ÎåÄÏó¨Îüâ
- count : Ï¥ù ÏûêÏ†ÑÍ±∞ ÎåÄÏó¨Îüâ(ÎπÑÌöåÏõê+ÌöåÏõê)

In [49]:
sample.head()  #Ïö∞Î¶¨Í∞Ä ÎßåÎì§Ïñ¥Ïïº Ìï† ÌòïÌÉú

              datetime  count
0  2011-01-20 00:00:00      0
1  2011-01-20 01:00:00      0
2  2011-01-20 02:00:00      0
3  2011-01-20 03:00:00      0
4  2011-01-20 04:00:00      0

In [52]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB